<section class="border-b border-border-primary" itemscope itemtype="https://schema.org/AboutPage">
    <div class="mx-auto max-w-7xl border-x border-border-primary">
        <article class="flex flex-col mx-auto max-w-7xl p-8" itemprop="mainContentOfPage">
            <h2 class="font-grotesque font-extrabold text-text-primary uppercase lg:text-6xl text-4xl mb-4" itemprop="headline">
                We’re not a <span class="line-through decoration-text-primary">factory</span>.
                <span class="italic text-text-accent">We’re a partner.</span>
            </h2>
            <p class="font-sans text-text-primary lg:text-2xl" itemprop="description">
                At Northsoon, we blend strategy, creativity, and performance to turn your digital presence into a competitive advantage.
                Whether you're launching a new product or refining an existing brand, we collaborate closely to craft websites that move the needle - in speed, clarity, and conversion.
            </p>
        </article>
    </div>
</section>