<section class="border-y border-border-primary">
    <div class="mx-auto text-primary">
        <div class="relative mx-auto py-2 overflow-hidden overflow-x-hidden">
            <div class="grid justify-between w-full">
                <div class="absolute from-surface-accent inset-0 left-0 via-transparent w-44 z-10 bg-gradient-to-r to-transparent">
                </div>
                <div class="absolute from-surface-accent inset-0 left-0 via-transparent w-44 bg-gradient-to-l ml-auto to-transparent">
                </div>
            </div>
            <div class="relative flex items-center font-sans font-extrabold text-sm text-text-primary tracking-widest uppercase whitespace-nowrap animate-marquee">
                <div class="flex items-center gap-4">
                    <span>
                        Web Solutions that Perform Under Pressure ❄️ — SEO for Challenging Environments 🔍 — Tailored for Resilient Teams 🏔️ — Blazing Speed, Seamless Experience ⚡ — Smart Logic, Real Insights 📊 — Elegant & Purposeful Design 🎨 — Data that Moves You Forward 🚀 — Built for Long-Term Growth 🌱 —
                    </span>
                    <span>
                        Web Solutions that Perform Under Pressure ❄️ — SEO for Challenging Environments 🔍 — Tailored for Resilient Teams 🏔️ — Blazing Speed, Seamless Experience ⚡ — Smart Logic, Real Insights 📊 — Elegant & Purposeful Design 🎨 — Data that Moves You Forward 🚀 — Built for Long-Term Growth 🌱 —
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>