<section class="border-b border-border-primary">
    <div class="mx-auto max-w-7xl border-x border-border-primary">
        <div class="bg-transparent duration-200 group hover:bg-brand-secondary">
            <a
            href="mailto:manuel@northsoon.com"
            class="items-center w-full inline-flex justify-center bg-brand-secondary font-grotesque font-medium text-text-inverted text-3xl uppercase duration-200 focus:outline-disc focus:ring-0 hover:rounded-0 lg:py-12 lg:text-6xl px-4 py-6 rounded-full"
            >Get a quote</a>
        </div>
    </div>
</section>