---
import Banner from "@/components/landing/Banner.astro";
import Testimonials from "@/components/landing/Testimonials.astro";
---

<section class="border-b border-border-primary">
    <div class="mx-auto max-w-7xl border-x border-border-primary">
        <div class="mx-auto">
            <div class="mx-auto px-8 py-12 lg:pt-18">
                <h1 class="font-grotesque font-extrabold text-4xl lg:text-7xl uppercase text-text-primary">
                    Your voice deserves to echo in the <span class="italic text-text-accent">digital world</span> with design that’s as brave as your vision.
                </h1>
            </div>
            <Banner />
            <Testimonials />
        </div>
    </div>
</section>