<section class="border-b border-border-primary">
    <div class="mx-auto max-w-7xl border-x border-border-primary">
        <article class="flex flex-col mx-auto max-w-7xl p-8 space-y-12">

            <div>
                <h2 class="font-grotesque font-extrabold text-text-primary uppercase lg:text-6xl text-4xl mb-4">
                    Digital services crafted to move your brand forward.
                </h2>
                <p class="font-sans text-text-primary lg:text-2xl">
                    From modern design to fast, scalable development, we help you <span class="font-bold italic text-text-accent">build a web presence</span> that performs and inspires. Whether you're starting from scratch or need a revamp, our tools and process are designed to elevate.
                </p>
            </div>

            <div class="grid md:grid-cols-2 gap-6">
                <div class="border border-border-primary p-6 transition duration-300 hover:shadow-lg">
                    <h3 class="font-semibold text-text-accent text-xl mb-2">Attractive and Functional Web Design</h3>
                    <p class="text-text-primary">
                        We create attractive and functional web designs that align with your brand and goals. We ensure that every visual element is not only aesthetically pleasing but also optimized for the best user experience and conversion.
                    </p>
                </div>

            <div class="border border-border-primary p-6 transition duration-300 hover:shadow-lg">
                <h3 class="font-semibold text-text-accent text-xl mb-2">Redesign of Existing Projects</h3>
                <p class="text-text-primary">
                    We transform existing projects, enhancing their design and functionality to meet the current market needs. If your website needs a refresh to stay relevant and competitive, we can help.
                </p>
            </div>

            <div class="border border-border-primary p-6 transition duration-300 hover:shadow-lg">
                <h3 class="font-semibold text-text-accent text-xl mb-2">Conversion to Tailwind CSS and Performance Enhancement</h3>
                <p class="text-text-primary">
                    We transform your outdated code into a clean, modern frontend using efficient technologies like Tailwind CSS. We improve speed, maintainability, and developer experience to ensure your website operates at peak performance.
                </p>
            </div>

            <div class="border border-border-primary p-6 transition duration-300 hover:shadow-lg">
                <h3 class="font-semibold text-text-accent text-xl mb-2">Custom and Scalable Web Development</h3>
                <p class="text-text-primary">
                    We build fast, accessible, and SEO-optimized websites, fully tailored to your business goals. We apply the best practices and use the latest tools to ensure high-performance and scalable web development.
                </p>
            </div>
            </div>
        </article>
    </div>
</section>
